.btn-bd-primary {
    
    btn-btn-font-color: black
    bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet);
    --bs-btn-border-color: var(--bd-violet);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--bs-white); }

 
    div card-header{
        background-color: grey;
        text-align: right;
    }